.productbox {
    margin-top: 1rem;
}

#brand {
    font-size: 0.9rem;
    color: #8E8E8E;
    margin-top: 1rem;
}

#title {
    margin: 1rem 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

#price {
    font-family: 'pretendard_bold';
    font-size: 1.5rem;
    color: #17BCE0;
}

.ship {
    margin-top: 2rem;
}

.infotitle {
    font-size: 0.9rem;
    color: #A8A8A8;
    font-family: 'pretendard_bold';
    margin: 1rem 1rem 0 0;
    display: inline;
}

.info {
    font-size: 0.9rem;
    color: #252525;
    margin-top: 1rem;

    display: inline;
}