.profilebox {
    width: 100%;
    max-width: 1240px;
    margin: 0.5rem auto 0 auto;
  
    display: grid;
  
    grid-template-columns: 1fr;
}

.profilebox img {
    width: 4rem;
}

#user {
    margin: 1rem 0;
}

#name {
    font-family: pretendard_bold; 
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

#date {
    font-size: 0.8rem; 
    color: #8E8E8E;
}

#title {
    font-family: pretendard_bold;
    font-size: 2rem;
}

#cont #text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin: 1rem 0;
}
